*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* 
.box{
    width: 30px;
    background-color: rgb(220, 220, 220);
    position: relative;
}

.box p{
    word-wrap: break-word;
    word-break: keep-all;
    display: inline;
    border-bottom: 2px solid green;
    color: #444;
    font-size: 13px;
} */

p{
    width: 100px;
    background-color: gray;
    white-space: pre-line;
}