*{
    padding: 0;
    margin: 0;
}

html, body{
    height: 100%;
}

.bg{
    width: 50%;
    height: 50%;
    margin: 0 auto;

    background-color: red;
    background-image: url('../imagens/paisagem.jpg');
    background-size: cover;
    background-position: 200%;
    background-repeat: no-repeat;
}