*{
    padding: 0;
    margin: 0;
}

@font-face{
    font-family: 'Minha fonte';
    src: url('../fonts/BerkshireSwash-Regular.ttf');
}

html, body{
    height: 100%;
    font-family: 'Minha Fonte';
}

form  *{
    font-family: 'Minha Fonte';
}

/* h2{
    font-weight: 700;
    font-family: 'Sevillana', cursive;
} */
/* 
h3{
    font-family: 'Minha fonte';
} */

/* .box p{
    font-family: 'Minha fonte';
}

.text{
    font-family: Tahoma !important;
} */