<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lista de tarefas | projeto 1</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
    <div class="tarefas">
        <form method="post">
            <input name="tarefa" type="text">
            <input type="submit" value="inserir">
        </form>

        <% for(let i = 0; i < tarefasList.length; i++){ %>

            <p><%= tarefasList[i] %> | <a href="/deletar/<%= i%>">X</a></p>

        <% } %>
    </div>
</body>
</html>