*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

.center{
    width: 1280px;
    margin: 0 auto;
    background-color: gray;
    padding: 30px;
}

.artigo{
    width: 100%;
    margin-bottom: 40px;
}